.imageContainer {
  position: relative;
  background-color: rgb(60, 64, 67, 0.8);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.imgHeader {
  width: 100%;
  height: 40px;
  background: #3f3f41;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.imgHeader > div {
  /* margin-right: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%;
}

.nameSection {
  width: 20%;
}

.nameSection > h5 {
  text-overflow: ellipsis;
}

.imgHeader > div > div {
  margin-right: 20px;
}

.imgHeader > div:last-child  {
  margin-right: 30px;
}
.imgHeader > div:first-child  {
  margin-left: 30px;
}

.imgHeader > div:hover {
  cursor: pointer;
}


.carouselContainer {
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin: auto;
  object-fit: contain;
  position: relative;
}

.imageCarousel {
  height: 100%;
  transition: transform ease-in-out 0.3s;
  position: absolute;
  top: 10px;
}

.imageCarouselImage {
  object-fit: contain;
  background-size: contain;
  background-clip: border-box;
}

.left{
    position:absolute;
    top: 50%;
    left: 40px;
    color: aliceblue;
    cursor: pointer;

}
.right{
    position:absolute;
    top: 50%;
    right: 40px;
    color: aliceblue;
    cursor: pointer;
}
.bottomAction{
    width: 100%;
    height: 30px;
    /* background: #3f3f41; */
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

