.sideBarContiner {
  height: 100%;
  width: 30%;
  border-width: 1px;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.imageContainer {
  position: fixed;
  background-color: rgb(60, 64, 67, 0.8);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  overflow: scroll;
}

.imageCarousel {
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  object-fit: contain;
  transition: transform ease-in-out 0.3s;
}

.imageCarouselImage {
  object-fit: contain;
  width: 100%;
  height: 90%;
  background-size: contain;
  background-clip: border-box;
}

.imgHeader {
  width: 100%;
  height: 30px;
  background: #3f3f41;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.imgHeader > div {
  margin-right: 30px;
}

.imgHeader > div:nth-child(1){
  margin-left: 30px;
}

.imgHeader > div:hover {
  cursor: pointer;
}

.left{
    position:fixed;
    top: 50%;
    left: 40px;
    color: aliceblue;
    cursor: pointer;

}
.right{
    position:fixed;
    top: 50%;
    right: 40px;
    color: aliceblue;
    cursor: pointer;
}
.bottomAction{
    width: 100%;
    height: 30px;
    /* background: #3f3f41; */
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
